@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');



body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1.5em;
    background: #69d2e7;
}

hr {
    border: none;
    background: #E0E4CC;
    height: 1px;
}

h1 {
    margin: 12px;
}

.container {
    max-width: 800px;
    margin: 1em auto;
    background: #FFF;
    padding: 30px;
    border-radius: 5px;
}

.productcont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.product {
    padding: 1em;
    border: 1px solid #E0E4CC;
    margin-right: 1em;
    border-radius: 5px;
}
img{
    width: 140px;
}
.cart-container {
    border: 1px solid #E0E4CC;
    border-radius: 5px;
    margin-top: 1em;
    padding: 1em;
}

button {
    border: 1px solid #FA6900;
    color: #fff;
    background: #F38630;
    padding: 0.6em 1em;
    font-size: 1em;
    line-height: 1;
    border-radius: 1.2em;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

button:hover,
button:focus,
button:active {
    background: #A7DBD8;
    border-color: #69D2E7;
    color: #000;
    cursor: pointer;
}

table {
    margin-bottom: 1em;
    border-collapse: collapse;
}

table td,
table th {
    text-align: left;
    padding: 0.25em 1em;
    border-bottom: 1px solid #E0E4CC;
}

#carttotals {
    margin-right: 0;
    margin-left: auto;
}

.cart-buttons {
    width: auto;
    margin-right: 0;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
}

#emptycart {
    margin-right: 1em;
}


.message {
    border-width: 1px 0px;
    border-style: solid;
    border-color: #A7DBD8;
    color: #679996;
    padding: 0.5em 0;
    margin: 1em 0;
}