@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap");

body {
    font-family: "Roboto Slab", serif;
    text-align: center;
    line-height: 1.5em;
    background: #f08a5d;
}

hr {
    border: none;
    background: #e0e4cc;
    height: 1px;
}

h1 {
    margin: 12px;
}
.requestBtn{
    background-color: blue;
}

#alerts {
    position: fixed;
    top: 0vh;
    right: 40vw;
    visibility: visible;
}

.message {
    border-width: 1px 0px;
    border-style: solid;
    background-color: white;
    border-color: #a7dbd8;
    color: #037770;
    padding: 0em 0;
    margin: 1em 0;
}


.container {
    max-width: 800px;
    margin: 1em auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 5px;
}

.productcont {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.product {
    padding: 1em;
    border: 1px solid #020202;
    margin-right: 1em;
    border-radius: 5px;
}

.description {
    font-size: large;
    width: 200px;
    height: 100px;
    overflow: auto;
    text-overflow: ellipsis;
}
.tips{
    overflow: auto;
    height: 100px;
}
.price {
    font-size: x-large;
}

.product>img {
    width: 140px;
    height: 330px;
}

.cart-container {
    background-color: white;
    position: fixed;
    left: 0%;
    top: 90vh;
    width: 20vw;
    height: 90vh;
    border: 1px solid #e0e4cc;
    border-radius: 5px;
    margin-top: 1em;
    padding: 1em;
    transition: top 1s;
    overflow: auto;
}

.cart-container:hover {
    top: 28vh;
}

button {
    border: 1px solid #fa6900;
    color: #fff;
    background: #f38630;
    padding: 0.6em 1em;
    font-size: 1em;
    line-height: 1;
    border-radius: 1.2em;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}

button:hover {
    background: #a7dbd8;
    border-color: #69d2e7;
    color: #000;
    cursor: pointer;
}

table {
    margin-bottom: 1em;
    border-collapse: collapse;
}

table td,
table th {
    text-align: left;
    padding: 0.25em 1em;
    border-bottom: 1px solid #e0e4cc;
}

#carttotals {
    margin-right: 20vw;
    margin-left: auto;
}

#emptycart {
    margin-right: 1em;
}

#newbeers {
    padding: 0.6em 3em;
}
